:root {
    --main-color: #1a237e;
    --main-color-light: #534bae;
    --accent-color: #42a5f5;
    --text-color: #0d1a26;
    --text-color-light: #64727f;
    --text-color-medium: #464f58;
    --text-color-placeholder: #a2aab2;
    --border-color-light: #bebebe;
    --button-color: #307ac3;
    --button-color-light: #6ea1d5;
    --button-color-disabled: #B4B4B4;
    --button-selected-color: #C7D3DF;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Lato, sans-serif;
    background-color: white;
}

p {
    color: var(--main-color);
}

h1 {
    color: var(--main-color);
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 0px;
}

h2 {
    color: var(--main-color);
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 70px;
}

form {
    margin: 0;
}

#checkbox {
    margin: 4px;
}

.content {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.container {
    width: 80%;
    float: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    left: 4%;
}

.toprow {
    display: flex;
    text-align: right;
    flex-direction: row;
}

.toprow label {
    color: var(--main-color);
    padding-right: 4px;
}

.upperrow {
    display: flex;
    flex-direction: row;
}

.lowerrow {
    display: flex;
    flex-direction: row;
}

.leftcol {
    flex: 9;
    resize: none;
    overflow: hidden;
}

.rightcol {
    flex: 1;
}

#detailed_aqqu input {
    display: block;
    background-color: var(--button-color);
    border: 3px solid var(--button-color-light);
    border-radius: 8px;
    padding: 5px 9px;
    margin: 32px 32px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    right:    0;
    bottom:   0;
}

#question {
    font-family: Lato, sans-serif;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: var(--text-color);
    border-color: var(--main-color);
    font-size: 20px;
    font-weight: 400;
    height: 32px;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 8px;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: transparent;
    resize: none;
    overflow: hidden;
    display: block;
    right: 0;
    left: 0;
    -moz-tab-size: 0; /* Firefox */
    -o-tab-size: 0; /* Opera 10.6-12.1 */
    tab-size: 0;
    text-align: left;
    white-space: pre;
}

#question .entity {
  color: var(--main-color);
}

#question[contenteditable="false"] {
    border-color: var(--button-color-disabled);
    background-color: #f3f6f8;
    color: var(--text-color-light);
}

#question[contenteditable="false"] .entity {
    color: var(--text-color-medium);
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: var(--text-color-placeholder);
}

[placeholder]:empty:focus::before {
    content: "";
}

.entity {
    background-color: transparent;
    color: var(--main-color);
    position: relative;
    cursor: pointer;
}

.tooltip {
    text-shadow: 0;
    visibility: hidden;
    width: 25%;
    background-color: #fdfdff;
    text-align: left;
    border-radius: 6px;
    position: absolute;
    border-style: none;
    z-index: 1;
    box-shadow: 0px 0px 20px var(--text-color-light);
    display: none;
}

.abstract {
    padding: 5px 10px 0px 20px;
    overflow: hidden;
    margin-bottom: 5px;
    position: relative;
}

.abstract .fadeout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: 20px;
    background-image: linear-gradient(to bottom, transparent, #fdfdff);
}

.tooltip p {
    margin: 0;
    color: var(--text-color-light);
    font-size: 16px;
}

.tooltip img {
    width: 40%;
    min-width: 40%;
    max-height: auto;
    object-fit: cover;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 8px;
  border-style: solid solid none solid;
  border-color: var(--text-color-light) transparent transparent transparent;
}

.comp_buttons button {
    width: 100%;
    background-color: white;
    border: 1px solid var(--border-color-light);
    border-radius: 8px;
    color: var(--text-color-light);
    padding: 3px 0px 3px 8px;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    margin: 1px 0px 0px 0px;
    cursor: pointer;
    display: block;
}

.alias {
    font-style: italic;
    color: var(--button-color-light);
    text-shadow: 0 0 0 transparent;
}

.ask {
    float: left;
}

.ask button {
    width: 100px;
    height: 40px;
    background: linear-gradient(to bottom, var(--button-color) 0%, var(--button-color) 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    color: white;
    font-weight: 400;
    font-family: Lato, sans-serif;
    font-size: 20px;
    text-align: left;
    text-indent: 5px;
    cursor: pointer;
    margin: 0 0;
    display: inline;
}

.ask button:active {
    top: 1px;
}

.ask button:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid white;
    border-bottom: 20px solid white;
    border-left: 16px solid transparent;
    border-right: 20px solid white;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 2px 2px 0px;  
}

.ask button:disabled {
    background: var(--button-color-disabled);
    cursor: default;
}

.placeholder {
    width: 100px;
    height: 40px;
}

.result {
    margin: auto;
    margin-top: 40px;
}

.answers {
    min-height: 110px;
}

.answer_fields {
    background-color: white;
    border: 2px;
    border-color: var(--border-color-light);
    border-style: solid;
    border-radius: 8px;
    padding: 6px 10px;
    margin: 4px 4px;
    display: inline-block;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.answers a:hover {
    background-color: var(--button-selected-color);
}

.navigation {
    margin-top: 20px;
}

.navigation button:disabled {
    background: var(--button-color-disabled);
    cursor: default;
}


.navigation button {
    width: 50px;
    height: 40px;
    background: linear-gradient(to bottom, var(--button-color) 0%, var(--button-color) 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    color: white;
    font-weight: 400;
    font-family: Lato, sans-serif;
    font-size: 24px;
    text-align: left;
    cursor: pointer;
    display: inline;
    margin: 0 0px;
}

.left:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid white;
    border-bottom: 20px solid white;
    border-right: 10px solid transparent;
    border-left: 20px solid white;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px 0 0 2px;
}

.right:after {
    content: "";
    width: 0;
    height: 0;
    display: inline;
    border-top: 20px solid white;
    border-bottom: 20px solid  white;
    border-left: 10px solid transparent;
    border-right: 20px solid  white;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 2px 2px 0px;  
}

.navigation button:active {
    top: 1px;
}

#first {
    width: 80px;
    text-align: right;
    margin-right: 4px;
    padding-right: 16px;
}

#previous {
    width: 40px;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;}

#next {
    width: 40px;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
}

#last {
    width: 80px;
    margin-left: 4px;
    padding-left: 16px;
}

#no_answer {
    display: none;
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 0px;
}

#caption {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 2px;
}

#interpretation {
    display: block;
    color: var(--text-color-light);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 0px;
}

.show_more_less {
    display: none;
    background-color: var(--button-color);
    border: 3px solid var(--button-color-light);
    border-radius: 8px;
    padding: 5px 9px;
    margin: 4px 4px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.more_results #show_more {
    display: inline-block;
}

.less_results #show_less {
    display:inline-block;
}
