<html>
  <head>
    <title>Aqqu Question Answering</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="static/script.js"></script>
  </head>

  <body>
    <div class="content">
      <h1 id="heading">Aqqu Question Answering</h1>
      <h2> &copy; University of Freiburg, Chair for Algorithms and Data Structures, 2015 - 2020</h2>
      <div class="container">
        <div class="toprow">
          <div class="leftcol">
            <input type="checkbox" id="checkbox">
            <label>Show completions<label>
        </div>
        <div class="rightcol">
          <div class="placeholder">
          </div>
        </div>
        </div>
        <form method="get" id="questionForm">
          <div class="upperrow">
              <div class="leftcol">
                <div class="question">
                  <div contenteditable="true" type="text" id="question" data-urls="{{ urls }}"
                       spellcheck="false" placeholder="Enter your question..."
                       onkeyup="handleKeyPress(event)" onfocus="getCompletions()">{{ question }}</div>
                  <input type="hidden" id="q" name="q">
                  <input type="hidden" id="qids" name="qids" value="{{ qids }}" data-qids="{{ qids }}">
                </div>
              </div>
              <div class="rightcol">
                <div class="ask">
                  <button id="ask" onclick="copyQuestionToInput()">ASK</button>
                </div>
              </div>
          </div>
        </form>
        <div class="lowerrow">
          <div class="leftcol">
            <div id="completions" class="comp_buttons" data="{{ completions }}">
            </div>
            {% if answers %}
              <div class="result">
                {% if error|length == 0 %}
                  <div>
                    <p id="interpretation" data="{{ interpretations }}">
                    </p>
                  </div>
                  <div class="answers" data="{{ answers }}">
                    <button class='show_more_less' id='show_more' onclick='showMoreResults()'>...</button>
                    <button class='show_more_less' id='show_less' onclick='showLessResults()'><</button>
                  </div>
                  <div class="information">
                    <p id="no_answer">No answer found for this interpretation.</p>
                  </div>
                  <div class="navigation">
                    <button class="left" id='first' onclick='navigateResults(0)'><<</button>
                    <button id='previous' onclick='navigateResults(1)'><</button>
                    <button id='next' onclick='navigateResults(2)'>></button>
                    <button class="right" id='last' onclick='navigateResults(3)'>>></button>
                  </div>
                  <div>
                    <p id='caption'></p>
                  </div>
                {% else %}
                <p>{{ error }}</p>
              {% endif %}
              </div>
            {% endif %}
          </div>
          <div class="rightcol">
            <div class="placeholder">
            </div>
          </div>
        </div>
      </div>
    </div>
    <form action="http://aqqu.cs.uni-freiburg.de/detailed/">
      <input id="aqqu_debug" type="submit" value="Debug version >"/>
    </form>
  </body>
</html>
